openapi: 3.0.3
info:
  title: Oken API
  version: 1.0.0
  license:
    name: Proprietary
  description: |
    Especificação base da Oken API com versionamento por URI (`/v1`), autenticação
    padronizada (OAuth2 client credentials + API key), headers operacionais
    (`x-correlation-id`, `idempotency-key`) e contrato de erro unificado.

    Esta versão organiza recursos por domínio de negócio:
    identity, campaigns, eligibility, pricing, documents, registry, payments,
    reconciliation, offers, investors, orders, accounting, tax e admin.
servers:
  - url: https://api.sandbox.oken.ag
    description: Sandbox
  - url: https://api.oken.ag
    description: Production

tags:
  - name: Identity
  - name: Campaigns
  - name: Eligibility
  - name: Pricing
  - name: Documents
  - name: Registry
  - name: Payments
  - name: Reconciliation
  - name: Offers
  - name: Investors
  - name: Orders
  - name: Accounting
  - name: Tax
  - name: Admin
  - name: Webhooks

security:
  - OAuth2ClientCredentials: []
    ApiKeyAuth: []

paths:
  /v1/identity/tenants:
    get:
      tags: [Identity]
      summary: Lista tenants visíveis ao cliente autenticado
      operationId: listIdentityTenants
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          $ref: '#/components/responses/TenantListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/campaigns:
    post:
      tags: [Campaigns]
      summary: Cria campanha comercial
      operationId: createCampaign
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignCreateInput'
      responses:
        '201':
          $ref: '#/components/responses/CampaignResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /v1/eligibility/checks:
    post:
      tags: [Eligibility]
      summary: Avalia elegibilidade para uma oferta/campanha
      operationId: createEligibilityCheck
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EligibilityCheckInput'
      responses:
        '202':
          $ref: '#/components/responses/EligibilityResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /v1/pricing/quotes:
    post:
      tags: [Pricing]
      summary: Solicita cotação de preço
      operationId: createPricingQuote
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PricingQuoteInput'
      responses:
        '201':
          $ref: '#/components/responses/PricingQuoteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /v1/documents:
    post:
      tags: [Documents]
      summary: Registra metadados de documento
      operationId: createDocument
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentInput'
      responses:
        '201':
          $ref: '#/components/responses/DocumentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /v1/registry/parties:
    get:
      tags: [Registry]
      summary: Consulta cadastro de partes
      operationId: listRegistryParties
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          $ref: '#/components/responses/PartyListResponse'

  /v1/payments:
    post:
      tags: [Payments]
      summary: Cria pagamento
      operationId: createPayment
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInput'
      responses:
        '201':
          $ref: '#/components/responses/PaymentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /v1/reconciliation/runs:
    post:
      tags: [Reconciliation]
      summary: Inicia processamento de reconciliação
      operationId: createReconciliationRun
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '202':
          $ref: '#/components/responses/ReconciliationRunResponse'

  /v1/offers:
    get:
      tags: [Offers]
      summary: Lista ofertas publicadas
      operationId: listOffers
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          $ref: '#/components/responses/OfferListResponse'

  /v1/investors:
    post:
      tags: [Investors]
      summary: Cria investidor
      operationId: createInvestor
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvestorInput'
      responses:
        '201':
          $ref: '#/components/responses/InvestorResponse'

  /v1/orders:
    post:
      tags: [Orders]
      summary: Cria ordem
      operationId: createOrder
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderInput'
      responses:
        '201':
          $ref: '#/components/responses/OrderResponse'

  /v1/accounting/entries:
    get:
      tags: [Accounting]
      summary: Lista lançamentos contábeis
      operationId: listAccountingEntries
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          $ref: '#/components/responses/AccountingEntryListResponse'

  /v1/tax/calculations:
    post:
      tags: [Tax]
      summary: Calcula impostos de uma ordem
      operationId: createTaxCalculation
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '202':
          $ref: '#/components/responses/TaxCalculationResponse'

  /v1/admin/webhooks/subscriptions:
    post:
      tags: [Admin, Webhooks]
      summary: Cria assinatura de webhook com segredo de assinatura
      operationId: createWebhookSubscription
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookSubscriptionInput'
      responses:
        '201':
          $ref: '#/components/responses/WebhookSubscriptionResponse'

  /v1/admin/webhooks/subscriptions/{subscription_id}/replay:
    post:
      tags: [Admin, Webhooks]
      summary: Reprocessa eventos históricos para uma assinatura
      operationId: replayWebhookDeliveries
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: subscription_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '202':
          $ref: '#/components/responses/ReconciliationRunResponse'
        '404':
          $ref: '#/components/responses/BadRequest'

components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      description: Fluxo client_credentials para integração server-to-server.
      flows:
        clientCredentials:
          tokenUrl: https://auth.oken.ag/oauth/token
          scopes:
            oken.read: Leitura de recursos da plataforma.
            oken.write: Escrita de recursos da plataforma.
            oken.admin: Operações administrativas.
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key

  headers:
    CorrelationId:
      description: Mesmo valor recebido em `x-correlation-id` para rastreio ponta a ponta.
      schema:
        type: string
        format: uuid

  parameters:
    CorrelationId:
      name: x-correlation-id
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: Correlation ID gerado pelo cliente.
    IdempotencyKey:
      name: idempotency-key
      in: header
      required: true
      schema:
        type: string
        minLength: 16
        maxLength: 128
      description: Chave idempotente por operação de escrita (TTL recomendada 24h).
    Cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
      description: Cursor opaco retornado no campo `page_info.next_cursor`.
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50

  responses:
    BadRequest:
      description: Erro de validação
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Unauthorized:
      description: Falha de autenticação/autorização
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Conflict:
      description: Conflito de estado ou idempotência
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    InternalError:
      description: Erro inesperado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'

    TenantListResponse:
      description: Lista paginada de tenants
      headers:
        x-correlation-id:
          $ref: '#/components/headers/CorrelationId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaginatedTenants'
    CampaignResponse:
      description: Campanha criada
      headers:
        x-correlation-id:
          $ref: '#/components/headers/CorrelationId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Campaign'
    EligibilityResponse:
      description: Check de elegibilidade aceito
      headers:
        x-correlation-id:
          $ref: '#/components/headers/CorrelationId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EligibilityCheck'
    PricingQuoteResponse:
      description: Cotação gerada
      headers:
        x-correlation-id:
          $ref: '#/components/headers/CorrelationId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PricingQuote'
    DocumentResponse:
      description: Documento registrado
      headers:
        x-correlation-id:
          $ref: '#/components/headers/CorrelationId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Document'
    PartyListResponse:
      description: Lista paginada de partes
      headers:
        x-correlation-id:
          $ref: '#/components/headers/CorrelationId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaginatedParties'
    PaymentResponse:
      description: Pagamento criado
      headers:
        x-correlation-id:
          $ref: '#/components/headers/CorrelationId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Payment'
    ReconciliationRunResponse:
      description: Execução de reconciliação iniciada
      headers:
        x-correlation-id:
          $ref: '#/components/headers/CorrelationId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReconciliationRun'
    OfferListResponse:
      description: Lista paginada de ofertas
      headers:
        x-correlation-id:
          $ref: '#/components/headers/CorrelationId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaginatedOffers'
    InvestorResponse:
      description: Investidor criado
      headers:
        x-correlation-id:
          $ref: '#/components/headers/CorrelationId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Investor'
    OrderResponse:
      description: Ordem criada
      headers:
        x-correlation-id:
          $ref: '#/components/headers/CorrelationId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Order'
    AccountingEntryListResponse:
      description: Lista paginada de lançamentos
      headers:
        x-correlation-id:
          $ref: '#/components/headers/CorrelationId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaginatedAccountingEntries'
    TaxCalculationResponse:
      description: Cálculo fiscal aceito para processamento
      headers:
        x-correlation-id:
          $ref: '#/components/headers/CorrelationId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TaxCalculation'
    WebhookSubscriptionResponse:
      description: Assinatura criada
      headers:
        x-correlation-id:
          $ref: '#/components/headers/CorrelationId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WebhookSubscription'

  schemas:
    PageInfo:
      type: object
      required: [has_next_page]
      properties:
        next_cursor:
          type: string
          nullable: true
        has_next_page:
          type: boolean

    ErrorDetail:
      type: object
      required: [field, issue]
      properties:
        field:
          type: string
        issue:
          type: string

    ErrorEnvelope:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, correlation_id]
          properties:
            code:
              type: string
              example: validation_error
            message:
              type: string
            correlation_id:
              type: string
              format: uuid
            details:
              type: array
              items:
                $ref: '#/components/schemas/ErrorDetail'

    Tenant:
      type: object
      required: [id, name]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }

    Campaign:
      type: object
      required: [id, tenant_id, name, status]
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        name: { type: string }
        status: { type: string, enum: [draft, active, archived] }
    CampaignCreateInput:
      type: object
      required: [tenant_id, name]
      properties:
        tenant_id: { type: string, format: uuid }
        name: { type: string }

    EligibilityCheckInput:
      type: object
      required: [tenant_id, subject_id]
      properties:
        tenant_id: { type: string, format: uuid }
        subject_id: { type: string, format: uuid }
    EligibilityCheck:
      type: object
      properties:
        id: { type: string, format: uuid }
        status: { type: string, enum: [accepted, processing, completed] }

    PricingQuoteInput:
      type: object
      required: [tenant_id, instrument, amount]
      properties:
        tenant_id: { type: string, format: uuid }
        instrument: { type: string }
        amount: { type: number, format: double }
    PricingQuote:
      type: object
      properties:
        id: { type: string, format: uuid }
        price: { type: number, format: double }
        currency: { type: string, example: BRL }

    DocumentInput:
      type: object
      required: [tenant_id, type, uri]
      properties:
        tenant_id: { type: string, format: uuid }
        type: { type: string }
        uri: { type: string, format: uri }
    Document:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        status: { type: string, enum: [uploaded, verified, rejected] }

    Party:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }

    PaymentInput:
      type: object
      required: [tenant_id, order_id, amount]
      properties:
        tenant_id: { type: string, format: uuid }
        order_id: { type: string, format: uuid }
        amount: { type: number, format: double }
    Payment:
      type: object
      properties:
        id: { type: string, format: uuid }
        status: { type: string, enum: [pending, settled, failed] }

    ReconciliationRun:
      type: object
      properties:
        id: { type: string, format: uuid }
        status: { type: string, enum: [queued, running, completed, failed] }

    Offer:
      type: object
      properties:
        id: { type: string, format: uuid }
        title: { type: string }

    InvestorInput:
      type: object
      required: [tenant_id, name]
      properties:
        tenant_id: { type: string, format: uuid }
        name: { type: string }
    Investor:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }

    OrderInput:
      type: object
      required: [tenant_id, offer_id, quantity]
      properties:
        tenant_id: { type: string, format: uuid }
        offer_id: { type: string, format: uuid }
        quantity: { type: number, format: double }
    Order:
      type: object
      properties:
        id: { type: string, format: uuid }
        status: { type: string, enum: [pending, confirmed, canceled] }

    AccountingEntry:
      type: object
      properties:
        id: { type: string, format: uuid }
        ledger: { type: string }
        amount: { type: number, format: double }

    TaxCalculation:
      type: object
      properties:
        id: { type: string, format: uuid }
        status: { type: string, enum: [accepted, processing, completed] }

    WebhookSubscriptionInput:
      type: object
      required: [tenant_id, endpoint_url, secret, event_types]
      properties:
        tenant_id: { type: string, format: uuid }
        endpoint_url: { type: string, format: uri }
        secret:
          type: string
          minLength: 32
          description: Segredo usado na assinatura HMAC-SHA256.
        event_types:
          type: array
          items:
            type: string
    WebhookSubscription:
      allOf:
        - $ref: '#/components/schemas/WebhookSubscriptionInput'
        - type: object
          properties:
            id: { type: string, format: uuid }
            status: { type: string, enum: [active, paused] }

    PaginatedTenants:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Tenant' }
        page_info: { $ref: '#/components/schemas/PageInfo' }
    PaginatedParties:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Party' }
        page_info: { $ref: '#/components/schemas/PageInfo' }
    PaginatedOffers:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Offer' }
        page_info: { $ref: '#/components/schemas/PageInfo' }
    PaginatedAccountingEntries:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/AccountingEntry' }
        page_info: { $ref: '#/components/schemas/PageInfo' }

x-oken-standards:
  versioning:
    strategy: uri_prefix
    current_version: v1
    path_prefix: /v1
    guarantee: |
      Mudanças breaking serão publicadas apenas em nova versão major de URI
      (ex.: /v2). Alterações backward-compatible podem ocorrer dentro de /v1.
  compatibility_and_deprecation:
    additive_changes:
      - Novos campos opcionais em request/response.
      - Novos valores de enum quando explicitamente documentados como extensíveis.
      - Novos endpoints e novos eventos de webhook.
    breaking_changes:
      - Remoção/renomeação de campo.
      - Mudança de tipo de campo.
      - Alteração semântica incompatível de validação obrigatória.
    deprecation_policy:
      notice_period_days: 180
      communication_channels: [changelog, developer_portal, email]
      sunset_header: true
      deprecation_header: true

x-oken-webhooks:
  signing:
    algorithm: HMAC-SHA256
    signature_header: x-oken-signature
    timestamp_header: x-oken-timestamp
    delivery_id_header: x-oken-delivery-id
    format: t=<unix_timestamp>,v1=<hex_signature>
    payload_to_sign: "{timestamp}.{raw_body}"
    replay_protection_window_seconds: 300
  delivery:
    success_http_codes: [200, 201, 202, 204]
    retryable_http_codes: [408, 409, 425, 429, 500, 502, 503, 504]
    retry_policy:
      strategy: exponential_backoff_with_jitter
      max_attempts: 8
      first_retry_delay_seconds: 30
      max_delay_seconds: 3600
