openapi: 3.0.3
info:
  title: Oken API
  version: 1.0.0
  license:
    name: Proprietary
  description: |
    Especificação inicial consolidada para os domínios operacionais da plataforma Oken.

    **Padrões transversais**
    - Header obrigatório `x-correlation-id` em todas as chamadas.
    - Header `idempotency-key` obrigatório em operações de escrita (POST/PATCH/PUT).
    - Paginação por cursor opaco (`cursor` + `limit`) e `page_info` padronizado.
    - Erros normalizados no envelope `ErrorResponse`.

    **Política de evolução de contrato**
    - Todas as rotas são explicitamente versionadas em `/v1`.
    - Alterações compatíveis retroativamente podem ser lançadas sem troca de versão major (campos opcionais, novos enums não-breaking, novos endpoints).
    - Alterações incompatíveis (remoção/renomeação de campos, mudança de semântica, tightening de validação) exigem nova versão (`/v2`) com janela mínima de depreciação de 180 dias.
    - Toda resposta inclui header `x-api-version` com a versão efetiva do contrato.
servers:
  - url: https://api.sandbox.oken.ag
    description: Sandbox
  - url: https://api.oken.ag
    description: Production
tags:
  - { name: Identity, description: Identidade, autenticação e contexto de acesso. }
  - { name: Campaigns, description: Campanhas comerciais e regras de adesão. }
  - { name: Eligibility, description: Motor de elegibilidade para ofertas e produtos. }
  - { name: Pricing, description: Simulação e precificação de operações. }
  - { name: Documents, description: Gestão documental e compliance. }
  - { name: Registry, description: Cadastro mestre de entidades e contas. }
  - { name: Disbursements, description: Orquestração de desembolsos e liquidações. }
  - { name: Payments, description: Cobranças, pagamentos e baixa financeira. }
  - { name: Reconciliation, description: Reconciliação transacional e contábil. }
  - { name: Offers, description: Ofertas de crédito e produtos financeiros. }
  - { name: Investors, description: Cadastro e posição de investidores. }
  - { name: Orders, description: Pedidos operacionais e execução. }
  - { name: Accounting, description: Lançamentos e razão contábil. }
  - { name: Tax, description: Apuração fiscal e documentos tributários. }
  - { name: Admin, description: Configuração operacional e governança. }
  - { name: Webhooks, description: Assinaturas e entrega de eventos de domínio. }
security:
  - OAuth2ClientCredentials: []
  - ApiKeyAuth: []

paths:
  /v1/identity/sessions:
    post:
      tags: [Identity]
      summary: Cria sessão técnica para integração service-to-service
      operationId: createIdentitySession
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/IdentitySessionCreateInput' }
      responses:
        '201':
          $ref: '#/components/responses/CreatedIdentitySession'
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/campaigns:
    get:
      tags: [Campaigns]
      summary: Lista campanhas
      operationId: listCampaigns
      parameters: [ { $ref: '#/components/parameters/CorrelationId' }, { $ref: '#/components/parameters/Cursor' }, { $ref: '#/components/parameters/Limit' } ]
      responses:
        '200': { $ref: '#/components/responses/PaginatedCampaigns' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/eligibility/checks:
    post:
      tags: [Eligibility]
      summary: Executa verificação de elegibilidade
      operationId: createEligibilityCheck
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EligibilityCheckInput' }
      responses:
        '200': { $ref: '#/components/responses/EligibilityCheckResult' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/pricing/quotes:
    post:
      tags: [Pricing]
      summary: Gera cotação de preço
      operationId: createPricingQuote
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PricingQuoteInput' }
      responses:
        '201': { $ref: '#/components/responses/PricingQuoteCreated' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/documents:
    post:
      tags: [Documents]
      summary: Registra metadados de documento
      operationId: createDocument
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DocumentCreateInput' }
      responses:
        '201': { $ref: '#/components/responses/DocumentCreated' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/registry/entities:
    get:
      tags: [Registry]
      summary: Lista entidades de cadastro
      operationId: listRegistryEntities
      parameters: [ { $ref: '#/components/parameters/CorrelationId' }, { $ref: '#/components/parameters/Cursor' }, { $ref: '#/components/parameters/Limit' } ]
      responses:
        '200': { $ref: '#/components/responses/PaginatedRegistryEntities' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/disbursements:
    post:
      tags: [Disbursements]
      summary: Solicita desembolso
      operationId: createDisbursement
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DisbursementCreateInput' }
      responses:
        '201': { $ref: '#/components/responses/DisbursementCreated' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/payments:
    post:
      tags: [Payments]
      summary: Registra pagamento
      operationId: createPayment
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PaymentCreateInput' }
      responses:
        '201': { $ref: '#/components/responses/PaymentCreated' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/reconciliation/runs:
    post:
      tags: [Reconciliation]
      summary: Inicia execução de reconciliação
      operationId: createReconciliationRun
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReconciliationRunCreateInput' }
      responses:
        '202': { $ref: '#/components/responses/ReconciliationAccepted' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/offers:
    get:
      tags: [Offers]
      summary: Lista ofertas
      operationId: listOffers
      parameters: [ { $ref: '#/components/parameters/CorrelationId' }, { $ref: '#/components/parameters/Cursor' }, { $ref: '#/components/parameters/Limit' } ]
      responses:
        '200': { $ref: '#/components/responses/PaginatedOffers' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/investors:
    get:
      tags: [Investors]
      summary: Lista investidores
      operationId: listInvestors
      parameters: [ { $ref: '#/components/parameters/CorrelationId' }, { $ref: '#/components/parameters/Cursor' }, { $ref: '#/components/parameters/Limit' } ]
      responses:
        '200': { $ref: '#/components/responses/PaginatedInvestors' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/orders:
    post:
      tags: [Orders]
      summary: Cria pedido operacional
      operationId: createOrder
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OrderCreateInput' }
      responses:
        '201': { $ref: '#/components/responses/OrderCreated' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/accounting/entries:
    post:
      tags: [Accounting]
      summary: Registra lançamento contábil
      operationId: createAccountingEntry
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AccountingEntryCreateInput' }
      responses:
        '201': { $ref: '#/components/responses/AccountingEntryCreated' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/tax/documents:
    post:
      tags: [Tax]
      summary: Registra documento fiscal
      operationId: createTaxDocument
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TaxDocumentCreateInput' }
      responses:
        '201': { $ref: '#/components/responses/TaxDocumentCreated' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/admin/tenants:
    get:
      tags: [Admin]
      summary: Lista tenants habilitados
      operationId: listTenants
      parameters: [ { $ref: '#/components/parameters/CorrelationId' }, { $ref: '#/components/parameters/Cursor' }, { $ref: '#/components/parameters/Limit' } ]
      responses:
        '200': { $ref: '#/components/responses/PaginatedTenants' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/webhooks/subscriptions:
    post:
      tags: [Webhooks]
      summary: Cria assinatura de webhook por domínio
      operationId: createWebhookSubscription
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WebhookSubscriptionCreateInput' }
      responses:
        '201':
          description: Assinatura criada
          headers:
            x-correlation-id: { $ref: '#/components/headers/CorrelationId' }
            x-api-version: { $ref: '#/components/headers/ApiVersion' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WebhookSubscription' }
        '400': { $ref: '#/components/responses/BadRequest' }

components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      description: Fluxo client_credentials para integrações server-to-server.
      flows:
        clientCredentials:
          tokenUrl: https://auth.oken.ag/oauth/token
          scopes: {}
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  headers:
    CorrelationId:
      description: Identificador único para rastreio distribuído.
      schema: { type: string, format: uuid }
    ApiVersion:
      description: Versão efetiva do contrato retornado pela API.
      schema: { type: string, example: v1 }
  parameters:
    CorrelationId:
      name: x-correlation-id
      in: header
      required: true
      schema: { type: string, format: uuid }
    IdempotencyKey:
      name: idempotency-key
      in: header
      required: true
      schema: { type: string, minLength: 8, maxLength: 128 }
    Cursor:
      name: cursor
      in: query
      schema: { type: string }
      description: Cursor opaco retornado em `page_info.next_cursor`.
    Limit:
      name: limit
      in: query
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
  responses:
    BadRequest:
      description: Requisição inválida
      headers:
        x-correlation-id: { $ref: '#/components/headers/CorrelationId' }
        x-api-version: { $ref: '#/components/headers/ApiVersion' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    CreatedIdentitySession:
      description: Sessão criada
      headers:
        x-correlation-id: { $ref: '#/components/headers/CorrelationId' }
        x-api-version: { $ref: '#/components/headers/ApiVersion' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/IdentitySession' }
    EligibilityCheckResult:
      description: Resultado de elegibilidade
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/EligibilityCheckResult' }
    PricingQuoteCreated:
      description: Cotação criada
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/PricingQuote' } } }
    DocumentCreated:
      description: Documento criado
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/Document' } } }
    DisbursementCreated:
      description: Desembolso criado
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/Disbursement' } } }
    PaymentCreated:
      description: Pagamento criado
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/Payment' } } }
    ReconciliationAccepted:
      description: Reconciliação aceita para processamento assíncrono
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/ReconciliationRun' } } }
    OrderCreated:
      description: Pedido criado
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/Order' } } }
    AccountingEntryCreated:
      description: Lançamento criado
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/AccountingEntry' } } }
    TaxDocumentCreated:
      description: Documento fiscal criado
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/TaxDocument' } } }
    PaginatedCampaigns:
      description: Lista paginada de campanhas
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/PaginatedCampaigns' } } }
    PaginatedRegistryEntities:
      description: Lista paginada de entidades
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/PaginatedRegistryEntities' } } }
    PaginatedOffers:
      description: Lista paginada de ofertas
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/PaginatedOffers' } } }
    PaginatedInvestors:
      description: Lista paginada de investidores
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/PaginatedInvestors' } } }
    PaginatedTenants:
      description: Lista paginada de tenants
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/PaginatedTenants' } } }

  schemas:
    PageInfo:
      type: object
      required: [has_next_page]
      properties:
        next_cursor: { type: string, nullable: true }
        has_next_page: { type: boolean }
    Error:
      type: object
      required: [code, message]
      properties:
        code: { type: string, example: validation_error }
        message: { type: string }
        field: { type: string, nullable: true }
        details:
          type: object
          additionalProperties: true
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error: { $ref: '#/components/schemas/Error' }
        correlation_id: { type: string, format: uuid }

    IdentitySessionCreateInput:
      type: object
      required: [tenant_id, subject]
      properties:
        tenant_id: { type: string, format: uuid }
        subject: { type: string }
    IdentitySession:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        access_token: { type: string }
        expires_at: { type: string, format: date-time }

    Campaign:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        status: { type: string, enum: [draft, active, paused, closed] }
    PaginatedCampaigns:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Campaign' } }
        page_info: { $ref: '#/components/schemas/PageInfo' }

    EligibilityCheckInput:
      type: object
      required: [tenant_id, subject_id, campaign_id]
      properties:
        tenant_id: { type: string, format: uuid }
        subject_id: { type: string, format: uuid }
        campaign_id: { type: string, format: uuid }
    EligibilityCheckResult:
      type: object
      properties:
        eligible: { type: boolean }
        reason_code: { type: string }

    PricingQuoteInput:
      type: object
      required: [tenant_id, amount, term_days]
      properties:
        tenant_id: { type: string, format: uuid }
        amount: { type: number, format: double }
        term_days: { type: integer }
    PricingQuote:
      type: object
      properties:
        id: { type: string, format: uuid }
        rate: { type: number, format: double }
        total_cost: { type: number, format: double }

    DocumentCreateInput:
      type: object
      required: [tenant_id, type, uri]
      properties:
        tenant_id: { type: string, format: uuid }
        type: { type: string, enum: [invoice, contract, statement, kyc] }
        uri: { type: string, format: uri }
    Document:
      type: object
      properties:
        id: { type: string, format: uuid }
        status: { type: string, enum: [pending, approved, rejected] }

    RegistryEntity:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        kind: { type: string, enum: [person, company, account] }
    PaginatedRegistryEntities:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/RegistryEntity' } }
        page_info: { $ref: '#/components/schemas/PageInfo' }

    DisbursementCreateInput:
      type: object
      required: [tenant_id, beneficiary_id, amount]
      properties:
        tenant_id: { type: string, format: uuid }
        beneficiary_id: { type: string, format: uuid }
        amount: { type: number, format: double }
    Disbursement:
      type: object
      properties:
        id: { type: string, format: uuid }
        status: { type: string, enum: [requested, processing, completed, failed] }

    PaymentCreateInput:
      type: object
      required: [tenant_id, payer_id, amount]
      properties:
        tenant_id: { type: string, format: uuid }
        payer_id: { type: string, format: uuid }
        amount: { type: number, format: double }
    Payment:
      type: object
      properties:
        id: { type: string, format: uuid }
        status: { type: string, enum: [pending, settled, canceled] }

    ReconciliationRunCreateInput:
      type: object
      required: [tenant_id, reference_date]
      properties:
        tenant_id: { type: string, format: uuid }
        reference_date: { type: string, format: date }
    ReconciliationRun:
      type: object
      properties:
        id: { type: string, format: uuid }
        status: { type: string, enum: [queued, running, finished, failed] }

    Offer:
      type: object
      properties:
        id: { type: string, format: uuid }
        product: { type: string }
        status: { type: string, enum: [active, expired] }
    PaginatedOffers:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Offer' } }
        page_info: { $ref: '#/components/schemas/PageInfo' }

    Investor:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        status: { type: string, enum: [active, blocked] }
    PaginatedInvestors:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Investor' } }
        page_info: { $ref: '#/components/schemas/PageInfo' }

    OrderCreateInput:
      type: object
      required: [tenant_id, offer_id, amount]
      properties:
        tenant_id: { type: string, format: uuid }
        offer_id: { type: string, format: uuid }
        amount: { type: number, format: double }
    Order:
      type: object
      properties:
        id: { type: string, format: uuid }
        status: { type: string, enum: [created, approved, canceled] }

    AccountingEntryCreateInput:
      type: object
      required: [tenant_id, debit_account, credit_account, amount]
      properties:
        tenant_id: { type: string, format: uuid }
        debit_account: { type: string }
        credit_account: { type: string }
        amount: { type: number, format: double }
    AccountingEntry:
      type: object
      properties:
        id: { type: string, format: uuid }
        posted_at: { type: string, format: date-time }

    TaxDocumentCreateInput:
      type: object
      required: [tenant_id, document_number, amount]
      properties:
        tenant_id: { type: string, format: uuid }
        document_number: { type: string }
        amount: { type: number, format: double }
    TaxDocument:
      type: object
      properties:
        id: { type: string, format: uuid }
        status: { type: string, enum: [issued, canceled] }

    Tenant:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        status: { type: string, enum: [active, inactive] }
    PaginatedTenants:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Tenant' } }
        page_info: { $ref: '#/components/schemas/PageInfo' }

    WebhookSubscriptionCreateInput:
      type: object
      required: [tenant_id, endpoint_url, secret, domain]
      properties:
        tenant_id: { type: string, format: uuid }
        endpoint_url: { type: string, format: uri }
        secret:
          type: string
          description: Segredo compartilhado para assinatura HMAC-SHA256.
          minLength: 32
        domain:
          type: string
          enum: [identity, campaigns, eligibility, pricing, documents, registry, disbursements, payments, reconciliation, offers, investors, orders, accounting, tax, admin]
        event_types:
          type: array
          items: { type: string, example: disbursement.created }
    WebhookSubscription:
      allOf:
        - $ref: '#/components/schemas/WebhookSubscriptionCreateInput'
        - type: object
          properties:
            id: { type: string, format: uuid }
            status: { type: string, enum: [active, paused] }
            retry_policy: { $ref: '#/components/schemas/WebhookRetryPolicy' }

    WebhookRetryPolicy:
      type: object
      properties:
        strategy: { type: string, enum: [exponential_backoff_with_jitter] }
        max_attempts: { type: integer, default: 8 }
        first_retry_delay_seconds: { type: integer, default: 30 }
        max_delay_seconds: { type: integer, default: 3600 }
        timeout_seconds: { type: integer, default: 10 }

x-contract-evolution:
  current_version: v1
  compatibility:
    additive_changes_allowed: true
    breaking_changes_require_new_version: true
  deprecation:
    minimum_notice_days: 180
    communication_channels: [changelog, status_page, email]

x-oken-webhooks:
  signing:
    algorithm: HMAC-SHA256
    signature_header: x-oken-signature
    format: t=<unix_timestamp>,v1=<hex_signature>
    payload_to_sign: "{timestamp}.{raw_body}"
  delivery:
    success_http_codes: [200, 201, 202, 204]
    retryable_http_codes: [408, 409, 425, 429, 500, 502, 503, 504]
  domains:
    identity:
      event_types: [identity.session.created]
      request_example:
        headers:
          x-oken-signature: t=1735770000,v1=abcdef123
        body: { id: evt_001, type: identity.session.created }
      response_example: { status_code: 204 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    campaigns:
      event_types: [campaign.created, campaign.updated]
      request_example: { body: { id: evt_002, type: campaign.created } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    eligibility:
      event_types: [eligibility.checked]
      request_example: { body: { id: evt_003, type: eligibility.checked } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    pricing:
      event_types: [pricing.quote.created]
      request_example: { body: { id: evt_004, type: pricing.quote.created } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    documents:
      event_types: [document.created, document.approved]
      request_example: { body: { id: evt_005, type: document.created } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    registry:
      event_types: [registry.entity.created]
      request_example: { body: { id: evt_006, type: registry.entity.created } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    disbursements:
      event_types: [disbursement.created, disbursement.completed]
      request_example: { body: { id: evt_007, type: disbursement.created } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    payments:
      event_types: [payment.created, payment.settled]
      request_example: { body: { id: evt_008, type: payment.created } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    reconciliation:
      event_types: [reconciliation.finished, reconciliation.failed]
      request_example: { body: { id: evt_009, type: reconciliation.finished } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    offers:
      event_types: [offer.created, offer.expired]
      request_example: { body: { id: evt_010, type: offer.created } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    investors:
      event_types: [investor.created, investor.updated]
      request_example: { body: { id: evt_011, type: investor.created } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    orders:
      event_types: [order.created, order.approved]
      request_example: { body: { id: evt_012, type: order.created } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    accounting:
      event_types: [accounting.entry.created]
      request_example: { body: { id: evt_013, type: accounting.entry.created } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    tax:
      event_types: [tax.document.issued]
      request_example: { body: { id: evt_014, type: tax.document.issued } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    admin:
      event_types: [admin.tenant.updated]
      request_example: { body: { id: evt_015, type: admin.tenant.updated } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
