openapi: 3.0.3
info:
  title: Oken API
  version: 1.0.0
  license:
    name: Proprietary
  description: |
    Especificação inicial consolidada para os domínios operacionais da plataforma Oken.

    **Padrões transversais**
    - Header obrigatório `x-correlation-id` em todas as chamadas.
    - Header `idempotency-key` obrigatório em operações de escrita (POST/PATCH/PUT).
    - Paginação por cursor opaco (`cursor` + `limit`) e `page_info` padronizado.
    - Erros normalizados no envelope `ErrorResponse`.

    **Política de evolução de contrato**
    - Todas as rotas são explicitamente versionadas em `/v1`.
    - Alterações compatíveis retroativamente podem ser lançadas sem troca de versão major (campos opcionais, novos enums não-breaking, novos endpoints).
    - Alterações incompatíveis (remoção/renomeação de campos, mudança de semântica, tightening de validação) exigem nova versão (`/v2`) com janela mínima de depreciação de 180 dias.
    - Toda resposta inclui header `x-api-version` com a versão efetiva do contrato.
servers:
  - url: https://api.sandbox.oken.ag
    description: Sandbox
  - url: https://api.oken.ag
    description: Production
tags:
  - name: Parties
    description: Cadastro e consulta de participantes.
  - name: Programs
    description: Programas comerciais e vigência.
  - name: Deals
    description: Negócios/contratos operacionais.
  - name: Evidence
    description: Evidências documentais e de compliance.
  - name: Events
    description: Trilha de eventos de domínio.
  - name: Webhooks
    description: Assinaturas e entrega de eventos externos.
  - name: Investors
    description: Módulo dedicado de investidor, suitability e ordens de investimento.
security:
  - OAuth2ClientCredentials:
      - parties:read
      - programs:read
      - deals:read
      - evidence:read
      - events:read
      - investors:read
      - investors:write
  - ApiKeyAuth: []

paths:
  /v1/identity/sessions:
    post:
      tags: [Identity]
      summary: Cria sessão técnica para integração service-to-service
      operationId: createIdentitySession
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/IdentitySessionCreateInput' }
      responses:
        '201':
          $ref: '#/components/responses/CreatedIdentitySession'
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/campaigns:
    get:
      tags: [Campaigns]
      summary: Lista campanhas
      operationId: listCampaigns
      parameters: [ { $ref: '#/components/parameters/CorrelationId' }, { $ref: '#/components/parameters/Cursor' }, { $ref: '#/components/parameters/Limit' } ]
      responses:
        '200': { $ref: '#/components/responses/PaginatedCampaigns' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/eligibility/checks:
    post:
      tags: [Eligibility]
      summary: Executa verificação de elegibilidade
      operationId: createEligibilityCheck
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EligibilityCheckInput' }
      responses:
        '200': { $ref: '#/components/responses/EligibilityCheckResult' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/pricing/quotes:
    post:
      tags: [Pricing]
      summary: Gera cotação de preço
      operationId: createPricingQuote
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PricingQuoteInput' }
      responses:
        '201': { $ref: '#/components/responses/PricingQuoteCreated' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/documents:
    post:
      tags: [Documents]
      summary: Registra metadados de documento
      operationId: createDocument
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DocumentCreateInput' }
      responses:
        '201': { $ref: '#/components/responses/DocumentCreated' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/registry/entities:
    get:
      tags: [Registry]
      summary: Lista entidades de cadastro
      operationId: listRegistryEntities
      parameters: [ { $ref: '#/components/parameters/CorrelationId' }, { $ref: '#/components/parameters/Cursor' }, { $ref: '#/components/parameters/Limit' } ]
      responses:
        '200': { $ref: '#/components/responses/PaginatedRegistryEntities' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/disbursements:
    post:
      tags: [Disbursements]
      summary: Solicita desembolso
      operationId: createDisbursement
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DisbursementCreateInput' }
      responses:
        '201': { $ref: '#/components/responses/DisbursementCreated' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/payments:
    post:
      tags: [Payments]
      summary: Registra pagamento
      operationId: createPayment
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PaymentCreateInput' }
      responses:
        '201': { $ref: '#/components/responses/PaymentCreated' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/reconciliation/runs:
    post:
      tags: [Reconciliation]
      summary: Inicia execução de reconciliação
      operationId: createReconciliationRun
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReconciliationRunCreateInput' }
      responses:
        '202': { $ref: '#/components/responses/ReconciliationAccepted' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/offers:
    get:
      tags: [Offers]
      summary: Lista ofertas
      operationId: listOffers
      parameters: [ { $ref: '#/components/parameters/CorrelationId' }, { $ref: '#/components/parameters/Cursor' }, { $ref: '#/components/parameters/Limit' } ]
      responses:
        '200': { $ref: '#/components/responses/PaginatedOffers' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/investors:
    get:
      tags: [Investors]
      summary: Lista investidores
      operationId: listInvestors
      parameters: [ { $ref: '#/components/parameters/CorrelationId' }, { $ref: '#/components/parameters/Cursor' }, { $ref: '#/components/parameters/Limit' } ]
      responses:
        '200': { $ref: '#/components/responses/PaginatedInvestors' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/orders:
    post:
      tags: [Orders]
      summary: Cria pedido operacional
      operationId: createOrder
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OrderCreateInput' }
      responses:
        '201': { $ref: '#/components/responses/OrderCreated' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/accounting/entries:
    post:
      tags: [Accounting]
      summary: Registra lançamento contábil
      operationId: createAccountingEntry
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AccountingEntryCreateInput' }
      responses:
        '201': { $ref: '#/components/responses/AccountingEntryCreated' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/tax/documents:
    post:
      tags: [Tax]
      summary: Registra documento fiscal
      operationId: createTaxDocument
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: aggregate_type
          in: query
          schema:
            type: string
            enum: [party, program, deal, evidence, investor, investor_order]
        - name: aggregate_id
          in: query
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
      responses:
        '200':
          description: Lista paginada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEvents'
        '400':
          $ref: '#/components/responses/BadRequest'

  /investors:
    get:
      tags: [Investors]
      summary: Lista investidores e status de onboarding
      operationId: listInvestors
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Lista paginada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedInvestors'
    post:
      tags: [Investors]
      summary: Inicia onboarding de investidor
      operationId: createInvestor
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvestorCreateInput'
      responses:
        '201':
          description: Investidor criado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Investor'
  /investor-orders:
    get:
      tags: [Investors]
      summary: Lista ordens do investidor
      operationId: listInvestorOrders
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Lista paginada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedInvestorOrders'
    post:
      tags: [Investors]
      summary: Cria ordem de investimento com validação de suitability
      operationId: createInvestorOrder
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvestorOrderCreateInput'
      responses:
        '201':
          description: Ordem criada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestorOrder'

  /webhooks/subscriptions:
    post:
      tags: [Webhooks]
      summary: Cria assinatura de webhook por domínio
      operationId: createWebhookSubscription
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WebhookSubscriptionCreateInput' }
      responses:
        '201':
          description: Assinatura criada
          headers:
            x-correlation-id: { $ref: '#/components/headers/CorrelationId' }
            x-api-version: { $ref: '#/components/headers/ApiVersion' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WebhookSubscription' }
        '400': { $ref: '#/components/responses/BadRequest' }

components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      description: Fluxo client_credentials para integrações server-to-server.
      flows:
        clientCredentials:
          tokenUrl: https://auth.oken.ag/oauth/token
          scopes:
            parties:read: Leitura de partes
            programs:read: Leitura de programas
            deals:read: Leitura de deals
            evidence:read: Leitura de evidências
            events:read: Leitura de eventos
            investors:read: Leitura de investidores e ordens
            investors:write: Escrita de onboarding e ordens de investimento
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  headers:
    CorrelationId:
      description: Identificador único para rastreio distribuído.
      schema: { type: string, format: uuid }
    ApiVersion:
      description: Versão efetiva do contrato retornado pela API.
      schema: { type: string, example: v1 }
  parameters:
    CorrelationId:
      name: x-correlation-id
      in: header
      required: true
      schema: { type: string, format: uuid }
    IdempotencyKey:
      name: idempotency-key
      in: header
      required: true
      schema: { type: string, minLength: 8, maxLength: 128 }
    Cursor:
      name: cursor
      in: query
      schema: { type: string }
      description: Cursor opaco retornado em `page_info.next_cursor`.
    Limit:
      name: limit
      in: query
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
  responses:
    BadRequest:
      description: Requisição inválida
      headers:
        x-correlation-id: { $ref: '#/components/headers/CorrelationId' }
        x-api-version: { $ref: '#/components/headers/ApiVersion' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    CreatedIdentitySession:
      description: Sessão criada
      headers:
        x-correlation-id: { $ref: '#/components/headers/CorrelationId' }
        x-api-version: { $ref: '#/components/headers/ApiVersion' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/IdentitySession' }
    EligibilityCheckResult:
      description: Resultado de elegibilidade
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/EligibilityCheckResult' }
    PricingQuoteCreated:
      description: Cotação criada
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/PricingQuote' } } }
    DocumentCreated:
      description: Documento criado
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/Document' } } }
    DisbursementCreated:
      description: Desembolso criado
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/Disbursement' } } }
    PaymentCreated:
      description: Pagamento criado
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/Payment' } } }
    ReconciliationAccepted:
      description: Reconciliação aceita para processamento assíncrono
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/ReconciliationRun' } } }
    OrderCreated:
      description: Pedido criado
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/Order' } } }
    AccountingEntryCreated:
      description: Lançamento criado
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/AccountingEntry' } } }
    TaxDocumentCreated:
      description: Documento fiscal criado
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/TaxDocument' } } }
    PaginatedCampaigns:
      description: Lista paginada de campanhas
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/PaginatedCampaigns' } } }
    PaginatedRegistryEntities:
      description: Lista paginada de entidades
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/PaginatedRegistryEntities' } } }
    PaginatedOffers:
      description: Lista paginada de ofertas
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/PaginatedOffers' } } }
    PaginatedInvestors:
      description: Lista paginada de investidores
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/PaginatedInvestors' } } }
    PaginatedTenants:
      description: Lista paginada de tenants
      headers: { x-correlation-id: { $ref: '#/components/headers/CorrelationId' }, x-api-version: { $ref: '#/components/headers/ApiVersion' } }
      content: { application/json: { schema: { $ref: '#/components/schemas/PaginatedTenants' } } }

  schemas:
    PageInfo:
      type: object
      required: [has_next_page]
      properties:
        next_cursor: { type: string, nullable: true }
        has_next_page: { type: boolean }
    Error:
      type: object
      required: [code, message]
      properties:
        code: { type: string, example: validation_error }
        message: { type: string }
        field: { type: string, nullable: true }
        details:
          type: object
          additionalProperties: true
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error: { $ref: '#/components/schemas/Error' }
        correlation_id: { type: string, format: uuid }

    IdentitySessionCreateInput:
      type: object
      required: [tenant_id, subject]
      properties:
        tenant_id: { type: string, format: uuid }
        subject: { type: string }
    IdentitySession:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        access_token: { type: string }
        expires_at: { type: string, format: date-time }

    Campaign:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        status: { type: string, enum: [draft, active, paused, closed] }
    PaginatedCampaigns:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Campaign' } }
        page_info: { $ref: '#/components/schemas/PageInfo' }

    EligibilityCheckInput:
      type: object
      required: [tenant_id, subject_id, campaign_id]
      properties:
        tenant_id: { type: string, format: uuid }
        subject_id: { type: string, format: uuid }
        campaign_id: { type: string, format: uuid }
    EligibilityCheckResult:
      type: object
      properties:
        eligible: { type: boolean }
        reason_code: { type: string }

    PricingQuoteInput:
      type: object
      required: [tenant_id, amount, term_days]
      properties:
        tenant_id: { type: string, format: uuid }
        amount: { type: number, format: double }
        term_days: { type: integer }
    PricingQuote:
      type: object
      properties:
        id: { type: string, format: uuid }
        rate: { type: number, format: double }
        total_cost: { type: number, format: double }

    DocumentCreateInput:
      type: object
      required: [tenant_id, type, uri]
      properties:
        tenant_id: { type: string, format: uuid }
        type: { type: string, enum: [invoice, contract, statement, kyc] }
        uri: { type: string, format: uri }
    Document:
      type: object
      properties:
        id: { type: string, format: uuid }
        status: { type: string, enum: [pending, approved, rejected] }

    RegistryEntity:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        kind: { type: string, enum: [person, company, account] }
    PaginatedRegistryEntities:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/RegistryEntity' } }
        page_info: { $ref: '#/components/schemas/PageInfo' }

    DisbursementCreateInput:
      type: object
      required: [tenant_id, beneficiary_id, amount]
      properties:
        tenant_id: { type: string, format: uuid }
        beneficiary_id: { type: string, format: uuid }
        amount: { type: number, format: double }
    Disbursement:
      type: object
      properties:
        id: { type: string, format: uuid }
        status: { type: string, enum: [requested, processing, completed, failed] }

    PaymentCreateInput:
      type: object
      required: [tenant_id, payer_id, amount]
      properties:
        tenant_id: { type: string, format: uuid }
        payer_id: { type: string, format: uuid }
        amount: { type: number, format: double }
    Payment:
      type: object
      properties:
        id: { type: string, format: uuid }
        status: { type: string, enum: [pending, settled, canceled] }

    ReconciliationRunCreateInput:
      type: object
      required: [tenant_id, reference_date]
      properties:
        tenant_id: { type: string, format: uuid }
        reference_date: { type: string, format: date }
    ReconciliationRun:
      type: object
      properties:
        id: { type: string, format: uuid }
        status: { type: string, enum: [queued, running, finished, failed] }

    Offer:
      type: object
      properties:
        id: { type: string, format: uuid }
        product: { type: string }
        status: { type: string, enum: [active, expired] }
    PaginatedOffers:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Offer' } }
        page_info: { $ref: '#/components/schemas/PageInfo' }

    Investor:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        status: { type: string, enum: [active, blocked] }
    PaginatedInvestors:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Investor' } }
        page_info: { $ref: '#/components/schemas/PageInfo' }

    OrderCreateInput:
      type: object
      required: [tenant_id, offer_id, amount]
      properties:
        tenant_id: { type: string, format: uuid }
        offer_id: { type: string, format: uuid }
        amount: { type: number, format: double }
    Order:
      type: object
      properties:
        id: { type: string, format: uuid }
        status: { type: string, enum: [created, approved, canceled] }

    AccountingEntryCreateInput:
      type: object
      required: [tenant_id, debit_account, credit_account, amount]
      properties:
        tenant_id: { type: string, format: uuid }
        debit_account: { type: string }
        credit_account: { type: string }
        amount: { type: number, format: double }
    AccountingEntry:
      type: object
      properties:
        id: { type: string, format: uuid }
        posted_at: { type: string, format: date-time }

    TaxDocumentCreateInput:
      type: object
      required: [tenant_id, document_number, amount]
      properties:
        tenant_id: { type: string, format: uuid }
        type: { type: string, example: deal.approved }
        aggregate_type:
          type: string
          enum: [party, program, deal, evidence, investor, investor_order]
        aggregate_id: { type: string, format: uuid }
        payload:
          type: object
          additionalProperties: true
        occurred_at: { type: string, format: date-time }
    Investor:
      type: object
      required: [id, tenant_id, party_id, wrapper, status, created_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        party_id: { type: string, format: uuid }
        wrapper:
          type: string
          enum: [platform_88, fund_management, securitization]
        status:
          type: string
          enum: [prospect, onboarding, active, suspended, offboarded]
        onboarding_completed_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    InvestorCreateInput:
      type: object
      required: [tenant_id, party_id, wrapper]
      properties:
        tenant_id: { type: string, format: uuid }
        party_id: { type: string, format: uuid }
        wrapper:
          type: string
          enum: [platform_88, fund_management, securitization]
    InvestorOrder:
      type: object
      required: [id, tenant_id, investor_id, offer_id, status, amount, allocated_amount, settled_amount, created_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        investor_id: { type: string, format: uuid }
        offer_id: { type: string, format: uuid }
        status:
          type: string
          enum: [draft, submitted, allocated, partially_settled, settled, canceled]
        amount: { type: number, format: double }
        allocated_amount: { type: number, format: double }
        settled_amount: { type: number, format: double }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    InvestorOrderCreateInput:
      type: object
      required: [tenant_id, investor_id, offer_id, amount]
      properties:
        tenant_id: { type: string, format: uuid }
        investor_id: { type: string, format: uuid }
        offer_id: { type: string, format: uuid }
        amount: { type: number, format: double }
        requires_professional_investor: { type: boolean, default: false }

    WebhookSubscriptionCreateInput:
      type: object
      required: [tenant_id, endpoint_url, secret, domain]
      properties:
        tenant_id: { type: string, format: uuid }
        endpoint_url: { type: string, format: uri }
        secret:
          type: string
          description: Segredo compartilhado para assinatura HMAC-SHA256.
          minLength: 32
        domain:
          type: string
          enum: [identity, campaigns, eligibility, pricing, documents, registry, disbursements, payments, reconciliation, offers, investors, orders, accounting, tax, admin]
        event_types:
          type: array
          items: { type: string, example: disbursement.created }
    WebhookSubscription:
      allOf:
        - $ref: '#/components/schemas/WebhookSubscriptionCreateInput'
        - type: object
          properties:
            id: { type: string, format: uuid }
            status: { type: string, enum: [active, paused] }
            retry_policy: { $ref: '#/components/schemas/WebhookRetryPolicy' }

    WebhookRetryPolicy:
      type: object
      properties:
        strategy:
          type: string
          enum: [exponential_backoff_with_jitter]
        max_attempts:
          type: integer
          default: 8
        first_retry_delay_seconds:
          type: integer
          default: 30
        max_delay_seconds:
          type: integer
          default: 3600
        timeout_seconds:
          type: integer
          default: 10
    PaginatedParties:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Party' }
        page_info: { $ref: '#/components/schemas/PageInfo' }
    PaginatedPrograms:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Program' }
        page_info: { $ref: '#/components/schemas/PageInfo' }
    PaginatedDeals:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Deal' }
        page_info: { $ref: '#/components/schemas/PageInfo' }
    PaginatedEvidence:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Evidence' }
        page_info: { $ref: '#/components/schemas/PageInfo' }
    PaginatedInvestors:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Investor' }
        page_info: { $ref: '#/components/schemas/PageInfo' }
    PaginatedInvestorOrders:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/InvestorOrder' }
        page_info: { $ref: '#/components/schemas/PageInfo' }
    PaginatedEvents:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Event' }
        page_info: { $ref: '#/components/schemas/PageInfo' }
x-oken-webhooks:
  signing:
    algorithm: HMAC-SHA256
    signature_header: x-oken-signature
    format: t=<unix_timestamp>,v1=<hex_signature>
    payload_to_sign: "{timestamp}.{raw_body}"
  delivery:
    success_http_codes: [200, 201, 202, 204]
    retryable_http_codes: [408, 409, 425, 429, 500, 502, 503, 504]
  domains:
    identity:
      event_types: [identity.session.created]
      request_example:
        headers:
          x-oken-signature: t=1735770000,v1=abcdef123
        body: { id: evt_001, type: identity.session.created }
      response_example: { status_code: 204 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    campaigns:
      event_types: [campaign.created, campaign.updated]
      request_example: { body: { id: evt_002, type: campaign.created } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    eligibility:
      event_types: [eligibility.checked]
      request_example: { body: { id: evt_003, type: eligibility.checked } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    pricing:
      event_types: [pricing.quote.created]
      request_example: { body: { id: evt_004, type: pricing.quote.created } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    documents:
      event_types: [document.created, document.approved]
      request_example: { body: { id: evt_005, type: document.created } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    registry:
      event_types: [registry.entity.created]
      request_example: { body: { id: evt_006, type: registry.entity.created } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    disbursements:
      event_types: [disbursement.created, disbursement.completed]
      request_example: { body: { id: evt_007, type: disbursement.created } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    payments:
      event_types: [payment.created, payment.settled]
      request_example: { body: { id: evt_008, type: payment.created } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    reconciliation:
      event_types: [reconciliation.finished, reconciliation.failed]
      request_example: { body: { id: evt_009, type: reconciliation.finished } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    offers:
      event_types: [offer.created, offer.expired]
      request_example: { body: { id: evt_010, type: offer.created } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    investors:
      event_types: [investor.created, investor.updated]
      request_example: { body: { id: evt_011, type: investor.created } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    orders:
      event_types: [order.created, order.approved]
      request_example: { body: { id: evt_012, type: order.created } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    accounting:
      event_types: [accounting.entry.created]
      request_example: { body: { id: evt_013, type: accounting.entry.created } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    tax:
      event_types: [tax.document.issued]
      request_example: { body: { id: evt_014, type: tax.document.issued } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
    admin:
      event_types: [admin.tenant.updated]
      request_example: { body: { id: evt_015, type: admin.tenant.updated } }
      response_example: { status_code: 200 }
      retry_policy: { strategy: exponential_backoff_with_jitter, max_attempts: 8, first_retry_delay_seconds: 30 }
